* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

.inicio {
  width: 90%;
  max-width: 11000px;
  margin: 0 auto;
}

html{
  scroll-behavior: smooth;
}



header {
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
  padding: 15px 0;
}

.logo {
  width: 150px;
  height: auto;
  

  display: block;
  margin: 20px left;
}

.logo span {
  font-weight: normal;
  color: #666;
  background: url('img/logo.jpg')
  
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

nav a {
  text-decoration: none;
  color: #2a4d3c;
  font-weight: 500;
}

nav a:hover{
  color: #2a4d3c;
  text-decoration: underline;
}

.ola {
  background: url('img/desenho.jpeg') center/cover no-repeat;
  padding: 100px 0;
  color: white;
  text-align: left;
}

  .cor{
    color: #000;

  }

.ola h2 {
  font-size: 48px;
  margin-bottom: 20px;
}

.botao {
  display: inline-block;
  padding: 15px 25px;
  background-color: #2a4d3c;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-size: 16px;
}

.sobre {
  padding: 60px 0;
  background-color: #fff;
  text-align: center;
}

.sobre h3 {
  font-size: 32px;
  margin-bottom: 20px;
}

.sobre p {
  font-size: 18px;
  margin-bottom: 40px;
  color: #555;
}

.fatu {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.item {
  background-color: #eef5f2;
  padding: 20px;
  border-radius: 12px;
  width: 220px;
  font-size: 16px;
  color: #2a4d3c;
  font-weight: 600;
}

.item:hover{
  color: #000000;
  text-decoration:dashed;

}

footer {
  text-align: center;
  padding: 20px;
  background-color: #eee;
  font-size: 14px;
  color: #777;
}
